<nav class="header navbar navbar-expand-sm navbar-dark bg-dark mb-3">
    <div class="container">
        <i class="fa fa-pencil-square fa-4x mr-2 text-white" aria-hidden="true"></i>
        <span class="navbar-brand h1 my-auto" href="/notes">NoteWorx</span>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse my-auto" id="menu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/notes">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>